Version: 2.1.6-2
Architecture: all
Depends: godot2-editor-stable
Suggests: godot2-doc
Homepage: https://godotengine.org
Description: Full 2D and 3D game engine with editor
 Godot is an advanced, feature packed, multi-platform 2D and 3D game engine.
 It provides a huge set of common tools, so you can just focus on making
 your game without reinventing the wheel.
 This is an old version of the Godot game engine, and more recent versions
 are available.
